build
**/*.json
/.vs/RF_Robotracker/v14/.suo
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/3.8.0-rc2/CMakeCCompiler.cmake
/CMakeFiles/3.8.0-rc2/CMakeCXXCompiler.cmake
/CMakeFiles/3.8.0-rc2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.8.0-rc2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.8.0-rc2/CMakeRCCompiler.cmake
/CMakeFiles/3.8.0-rc2/CMakeSystem.cmake
/CMakeFiles/3.8.0-rc2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.8.0-rc2/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.8.0-rc2/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP-wermgr.read.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP-wermgr.read.10.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP-wermgr.read.5.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP-wermgr.write.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP-wermgr.write.10.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.102.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.119.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.134.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.151.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.167.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.33.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.37.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.57.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.70.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.87.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.10.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.102.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.113.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.117.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.119.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.12.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.129.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.131.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.134.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.145.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.148.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.151.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.162.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.164.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.167.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.22.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.23.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.28.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.33.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.37.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.40.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.52.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.54.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.57.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.6.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.66.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.69.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.70.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.8.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.81.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.87.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.97.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.102.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.119.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.134.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.151.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.167.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.22.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.28.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.33.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.37.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.57.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.70.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.87.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/CMakeFiles/3.8.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/CMakeFiles/CMakeOutput.log
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/a76442c05030d27e31b4bbec3dbae6e3/generate.stamp.rule
/CMakeFiles/cmake.check_cache
/CMakeFiles/feature_tests.bin
/CMakeFiles/feature_tests.cxx
/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/CMakeFiles/generate.stamp.list
/RF_Robotracker.VC.VC.opendb
/RF_Robotracker.VC.db
/RF_Robotracker.sln
/SrcRobotracker/CMakeFiles/RF_Robotracker_autogen.dir/AutogenInfo.cmake
/SrcRobotracker/CMakeFiles/RF_Robotracker_autogen.dir/AutogenOldSettings.cmake
/SrcRobotracker/CMakeFiles/generate.stamp
/SrcRobotracker/CMakeFiles/generate.stamp.depend
/SrcRobotracker/RF_Robotracker.vcxproj
/SrcRobotracker/RF_Robotracker.vcxproj.filters
/SrcRobotracker/RF_Robotracker_autogen/6E7G5OURUP/moc_LeaderCouzin.cpp
/SrcRobotracker/RF_Robotracker_autogen/DMHXEJ42XS/moc_AgentProps.cpp
/SrcRobotracker/RF_Robotracker_autogen/DMHXEJ42XS/moc_AgentWindow.cpp
/SrcRobotracker/RF_Robotracker_autogen/DMHXEJ42XS/moc_InputDialog.cpp
/SrcRobotracker/RF_Robotracker_autogen/DMHXEJ42XS/moc_MainWindow.cpp
/SrcRobotracker/RF_Robotracker_autogen/DMHXEJ42XS/moc_MappingGraphicsView.cpp
/SrcRobotracker/RF_Robotracker_autogen/F6EC4LVGH6/moc_IBehaviour.cpp
/SrcRobotracker/RF_Robotracker_autogen/GNQFSUDLQQ/moc_RoboTracking.cpp
/SrcRobotracker/RF_Robotracker_autogen/NPUKSKGWT2/moc_TwoWheelsController.cpp
/SrcRobotracker/RF_Robotracker_autogen/P2JUI5LXV7/moc_DataSocket.cpp
/SrcRobotracker/RF_Robotracker_autogen/S5YSNZJ2AR/moc_SwarmTracking.cpp
/SrcRobotracker/RF_Robotracker_autogen/TAC5DWH4SE/moc_FishTank.cpp
/SrcRobotracker/RF_Robotracker_autogen/TAC5DWH4SE/moc_RoboAgent.cpp
/SrcRobotracker/RF_Robotracker_autogen/include/ui_AgentWindow.h
/SrcRobotracker/RF_Robotracker_autogen/include/ui_InputDialog.h
/SrcRobotracker/RF_Robotracker_autogen/include/ui_mainwindow.h
/SrcRobotracker/RF_Robotracker_autogen/moc_compilation.cpp
/SrcTest/CMakeFiles/RF_Testsuite_Robotracker_autogen.dir/AutogenInfo.cmake
/SrcTest/CMakeFiles/generate.stamp
/SrcTest/CMakeFiles/generate.stamp.depend
/SrcTest/RF_Testsuite_Robotracker.vcxproj
/SrcTest/RF_Testsuite_Robotracker.vcxproj.filters
/SrcTest/cmake_install.cmake
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/cmake_install.cmake
/x64/Debug/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/x64/Release/ZERO_CHECK/ZERO_CHECK.log
/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/SrcRobotracker/LeaderCouzinConfig
/Debug
/x64
/CMakeFiles
/SrcRobotracker/CMakeFiles
/SrcRobotracker/simulatedTrackingData_with_polygon_full.txt
/SrcRobotracker/simulatedTrackingData_with_polygon_shorten.txt
/SrcRobotracker/newSimulatedTrackingData.txt
/SrcRobotracker/simulatedTrackingData.txt
/SrcRobotracker/cmake_install.cmake
*_autogen
*.dir
*.stamp
*.stamp.depend
*.vcxproj
*.vcxproj.filters
*cmake_install.cmake
*.dll
*.qm
*.ilk
*.pdb
*.lib
/.gitattributes
/SrcBehaviourIdle/Debug/RF_behaviour_idle.exp
/SrcRobotracker/gui/MainWindow_oldDesign.ui
/SrcBehaviourIdle/RF_behaviour_idle.vcxproj.user
/*.opendb
/*.db
/*.sln
/SrcBehaviourIdle/Release/*.exp
/SrcBehaviourManual/*.user
/SrcBehaviourManual/Release/*.exp
/SrcBehaviourManual/*.json
/SrcBehaviourManual/Debug/*.exp
/SrcUtility/*.user
/SrcRobotracker/*.csv
/SrcBehaviourTrajectory/Debug/RF_behaviour_trajectory.exp
/SrcBehaviourTrajectory/RF_behaviour_trajectory.vcxproj.user
/SrcBehaviourTrajectory/Release/RF_behaviour_trajectory.exp
/SrcRobotracker/DeadCode.ruleset
/SrcRobotracker/config - Kopie.xml
/.vs/Robotracker/v14/*.suo
/SrcRobotracker/View/ui_mainwindow - Kopie.h
/Robotracker.opensdf
/Robotracker.sdf
/Robotracker.v12.suo
/SrcBehaviourCouzin/RF_behaviour_couzin_automoc.cpp
/SrcBehaviourCouzinZigZag/RF_behaviour_couzin_zigzag_automoc.cpp
/SrcBehaviourIdle/RF_behaviour_idle_automoc.cpp
/SrcBehaviourManual/RF_behaviour_manual_automoc.cpp
/SrcBehaviourTrajectory/RF_behaviour_trajectory_automoc.cpp
/SrcInterfaces/RF_interfaces_automoc.cpp
/SrcRobotracker/RF_Robotracker_automoc.cpp
/SrcRobotracker/ui_AgentWindow.h
/SrcRobotracker/ui_InputDialog.h
/SrcRobotracker/ui_mainwindow.h
/SrcUtility/RF_utility_automoc.cpp
/SrcBehaviourAdaptiveLeading/Debug/RF_behaviour_adaptive_leading.exp
/SrcBehaviourAdaptiveLeading/RF_behaviour_adaptive_leading.vcxproj.user
/SrcRobotracker/Halde/*.csv
/SrcBehaviourAdaptiveLeading/RF_behaviour_adaptive_leading_automoc.cpp
/SrcBehaviourCouzinZigZag/ui_TrackerParameterView.h
/SrcRobotracker/brokenconfig.xml
